<div class="container-fluid text-center">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @recipe.title %>
  </p>

  <p>
    <%= image_tag @recipe.image_url(:thumb).to_s %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @recipe.city %>
    <%= @recipe.address %>
    <%= @recipe.zipcode %>
  </p>
  <p>
    <strong>Recipe:</strong>
    <%= @recipe.recipe %>
  </p>

  <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{@recipe.latitude},#{@recipe.longitude}&zoom=16&size=400x350&markers=color:blue%7Clabel:EatPoint%7C#{@recipe.latitude}%2C#{@recipe.longitude}&key=AIzaSyA6nZL7hRFHgoBpO0rayEWSsSNeU2l8-QY" %>

  <br>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
  <%= link_to 'Back', recipes_path %>
</div>